html {
  background-color: #fff;
}

button {
  margin: 20px;
  height: 30px;
  width: 90px;
  border: 0;
  border-radius: 5px;
  background-color: darkblue;
  color: #fff;
}

.circle {
  background-color: rgb(0, 0, 0);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: relative;
  z-index: -5;
  margin-left: 250px;
  top: 450px;
}

.circle2 {
  background-color: rgb(110, 110, 253);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  z-index: -4;
  margin-left: 250px;
  top: 400px;
  position: relative;
}

.circle3 {
  background-color: rgb(14, 1, 87);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  z-index: -3;
  margin-left: 250px;
  top: 350px;
  position: relative;
}

.circle4 {
  background-color: rgb(34, 55, 148);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  z-index: -2;
  margin-left: 250px;
  top: 300px
  position: relative;
}

.circle5 {
  background-color: rgb(46, 35, 211);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  z-index: -1;
  margin-left: 250px;
  top: 250px;
  position: relative;
}

.box1 {
  background-color: rgba(255, 0, 64, 0.548);
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  padding: 20px;
}

.box2 {
  background-color: green;
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  margin: 20px;
}

.box3 {
  background-color: red;
  width: 200px;
  height: 200px;
  border: 20px solid #000;
}

.box4 {
  background-color: grey;
  width: 200px;
  height: 200px;
  border: 20px solid #000;
  padding: 20px;
  border-radius: 20px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 10px;
  border-radius: 20px;
}

.container {
  width: 200px;
  height: 600px;
  background-color: orange;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container2 {
  width: 500px;
  height: 500px;
  padding: 5px;
  background-color: red;
  display: flex;
  justify-content: flex-end;
}

.container3 {
  width: 500px;
  height: 500px;
  padding: 5px;
  background-color: rgb(87, 87, 87);
}

.container4 {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.child2 {
  background-color: lightblue;
  width: 200px;
  height: 100px;
  border-radius: 20px;
}

